body {
  padding: 10px;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-sidebar ul {
  list-style: none;
  width: 300px;
  padding: 0;
  margin-top: 0;
  visibility: hidden;
}

.hamburger-btn {
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.hamburger-btn:hover {
  opacity: 0.7;
}

li {
  padding: 10px; 
}

.grey {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
}

.red {
  background-color: red;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
}

.orange {
  background-color: orange;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
}

.purple {
  background-color: purple;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
}

.green {
  background-color: green;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
}